@font-face {
    font-family: Roboto Thin;
    src: url("./fonts/roboto/Roboto-Thin.ttf")
}

@font-face {
    font-family: Roboto Light;
    src: url("./fonts/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto Medium;
    src: url("./fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto Regular;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto Bold;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
}




html {
    /*border: 2px solid blue;*/
    margin: 0;
    /*::-webkit-scorllbar {*/
    /*}*/
    background: transparent;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    background: transparent;
}

h1, h2, h3, h4, h5, p {
    font-family: Roboto Regular;
    user-select: none;
}

::-webkit-scrollbar {
    /*width: 5px;*/
    display: none;
}
/*::-webkit-scrollbar-track {*/
/*    !*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*!*/
/*    border-radius: 3px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: darkgrey;*/
/*    opacity: 0.1;*/
/*    border-radius: 3px;*/
/*    !*outline: 1px solid slategrey;*!*/
/*}*/