html {
    /*border: 2px solid blue;*/
    margin: 0;
    /*::-webkit-scorllbar {*/
    /*}*/
    background: transparent;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    background: transparent;
}